*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
  }


#hero_section{

  /** border: 2px solid red; */
  height: 48rem;
  width: 90rem;
  margin: 0px auto;
  margin-bottom: 5rem;
}

#hero_section .navigation{

  /** border: 2px solid lime; */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#hero_section .navigation h1{

  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 0 2rem;
  cursor: pointer;


}

#hero_section .navigation h1 span{

  color: #1986ff;
  font-size: 2.5rem;

}

#hero_section .navigation button{

  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(13, 19, 33);
  background: none;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 0.5rem;
  margin: 0 2rem 0 0;
}

#hero_section .navigation button:hover{

  border: 1px solid #1986ff;
  background-color: #1986ff;
  color: white;
  font-weight: 400;

}


/** nav section design end */


#hero_section .banner{

  border: 1px solid rgb(70, 70, 70);
  border-style: dashed;
  height: 42.6rem;
  width: 89.9rem;
  background-image: url(assets/Hero-bg.png);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}

#hero_section .banner img{

  width: 20%;
}

#hero_section .banner h2{

  font-size: 2.5rem;
  font-weight: 900;
}

#hero_section .banner button{

  padding: 1.2rem  2rem;
  border-radius: 0.5rem;
  border: 1px solid;
  font-size: 1.2rem;
  font-weight: 900;
}

#hero_section .banner button:hover{

  color: white;
  background-color: black;
}


         /*! Hero secton END */



#content_world .content_area {

  /** border: 2px solid red; */
  height: 87.5rem;
  width: 90rem;
  margin: 0px auto;
  margin-bottom: 5rem;
  padding: 5rem;
  background: #f8f9fb;
}


#content_world .content_area .main_header{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  /** border: 2px solid orange; */
  margin-bottom: 2rem;

}


#content_world .content_area .main_header h3{

  font-size: 2.5rem;


}


#content_world .content_area .main_header h3{

  font-size: 2.5rem;


}


/** main > heder end */



.content_area .main_body{

 
 /** border: 2px solid brown; */
 height: 70rem;
 

}



#content_world .content_area .main_body .crd{

  width: 100%;
  height: 21rem;
  padding: 3rem;
  /** border: 2px solid lime; */
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  background: white;

}


#content_world .content_area .main_body .card_text_area{

  /** border: 2px solid rgb(255, 0, 255); */
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;

}


#content_world .content_area .main_body .card_text_area h4{

  font-size: 1.9rem;

}


#content_world .content_area .main_body .card_text_area p{

  font-size: 1.3rem;

}


#content_world .content_area .main_body .card_text_area button{

  padding: 1.2rem;
  width: 10rem;
  font-size: 1.2rem;
  background: none;
  border-radius: 0.5rem;
  border: 1px solid;
  font-weight: 900;

}


#content_world .content_area .main_body .card_text_area button:hover{

  border: 1px solid #1986ff;
  background-color: #1986ff;
  color: white;
  font-weight: 400;

}


/** main video area control */



#content_world .main_video_section{

  /** border: 2px solid red; */
  width: 71.25rem;
  height: 49.438rem;
  margin: 0px auto;
  padding: 2rem;
  margin-bottom: 5rem;
}


#content_world .main_video_section .inspiration {

  /** border: 2px solid lime; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}


#content_world .main_video_section .inspiration h3{

  font-size: 2.5rem;
}


#content_world .main_video_section .inspiration p{

  font-size: 1.3rem;
}


#content_world .main_video iframe{

  /** border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1.5rem;
}


/** main video section end */


#content_world .current_target{

  /** border: 2px solid red; */
  height: 87.5rem;
  width: 90rem;
  height: 42rem;  
  margin: 0px auto;

}


#content_world .current_target .target_text_area{

  /** border: 2px solid lime; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 9rem;
  text-align: center;

}


#content_world .current_target .target_text_area h3{

  font-size: 2.5rem;

}


#content_world .current_target .target_cards{


  /** border: 2px solid rgb(63, 41, 1); */
  padding: 2rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;

}


#content_world .current_target .target_cards .cards{


  /** border: 2px solid orangered; */
  width: 30%;
  height: 21rem;
  padding: 2rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;

}


#content_world .current_target .target_cards .cards img{

width: 15%;

}


#content_world .current_target .target_cards .cards h4{

font-size: 1.4rem;
font-weight: 900;

}


#content_world .current_target .target_cards .cards a{

  font-weight: 900;
  color: black;
  width: 6rem;
  /* border: 1px solid red; */


}


#content_world .current_target .target_cards .cards .A:hover{

  font-weight: 900;
  color: rgb(255, 0, 0);
}


#content_world .current_target .target_cards .cards .B:hover{

  font-weight: 900;
  color: rgb(17, 0, 255);
}


#content_world .current_target .target_cards .cards .C:hover{

  font-weight: 900;
  color: rgb(142, 145, 0);
}


#content_world .target_cards .one{

  background-color: #fff6f4;

}

#content_world .target_cards .two{

  background-color: #f2f6fe;

}


#content_world .target_cards .three{

  background-color: #fffdf2;

}


#content_world .support{

  /** border: 2px solid lime; */
  width: 90rem;
  height: 24rem;
  margin: 0px auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.747)), url(assets/handshake.jpg);
  background-position: center;
  color: white;
  background-color: black;
  border-radius: 1.5rem;
}


#content_world .support h4{

  font-size: 2.5rem;
}


#content_world .support p{

  font-size:  1.2rem;
}


#content_world .support input{

  padding: 0.7rem;
  width: 25rem;
  border-radius: 0.7rem;
  border: none;
  font-size: 1.1rem;
}


#content_world .support button{

  padding: 0.7rem;
  border-radius: 0.7rem;
  width: 6rem;
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
}


#content_world .support button:hover{

  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid white;
}

#content_world .support button, input{

  margin-top: 2.5rem;
}


          /*! MAIN area end */


#footer_information {

  width: 90rem;
  height: 10rem;
  margin: 0px auto;
  padding: 0 4rem;
  /* border: 2px solid rgb(0, 255, 34); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image : url(assets/Hero-bg.png);
  background-position: center;

}


#footer_information h3{

  font-size: 2rem;

}

#footer_information .social_icon{

  width: 14rem;
  padding: 0.5rem 1.2rem;
  margin-right: 2.5rem;
  border: 1px solid rgb(0, 0, 0);
  border-style: dashed;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;

}

#footer_information .social_icon a{

  text-decoration: none;

}